{% extends "_layout.twig" %}

{% set title = 'Results for "' ~ data.query ~ '"' %}

{% block content %}
    {% set total_pages = (data.count / items_per_page) | round(0, 'ceil') %}
    {% set current_page = page %}

    <div class="section">
        <div class="section-title">
            <h1>Results for "{{ data.query }}" (Page {{ current_page }} of {{ total_pages }})</h1>
        </div>
        <div class="content-box no-border-top">
            {% for submission in data.submissions %}
                {{ include('/components/_index_submission.twig') }}
            {% endfor %}
        </div>

        {% set le_url = 'search?query=' ~ data.query ~ '&page=%s' %}

        {{ pagination(data.count, items_per_page, le_url, current_page) }}
    </div>
{% endblock %}