<footer class="footer">
    <div class="footer-container">
        <div class="footer-content">
            <div>Powered by <a href="/version">OpenSB {{ opensb_version }}</a></div>
            {% for link in footer_links() %}
                <span><a href="{{ link.url }}">{{ link.name }}</a></span>
            {% endfor %}
            <span>{{ localize('footer_copyright', '2021-' ~ ('now' | date('Y'))) }}</span>
            {% if is_debug %}
                <p>{{ profiler_stats() }}</p>
                <div>
                    <a class="button button-danger button-small" title="Spicy!" id="debug-button">{{ localize('debug') }}</a>
                </div>
            {% endif %}
        </div>
    </div>
</footer>