<div class="headers {% if options.biscuit_2023_header %}headers-2023{% endif %}">
    <div class="header">
        {% if options.biscuit_2023_header %}
            <div class="header-container">
                <div class="header-logo">
                    <a href="/index">
                        <img alt="{{ website_branding.name }}" class="logo"
                             src="{{ website_branding.assets_location }}/logo.png">
                    </a>
                </div>
                <form class="header-search" action="/search">
                    <input id="header-search-input" type="text" name="query" placeholder="{{ localize('search') }}...">
                    {% if current_theme != 'soretro' %}
                    <div class="form-button-container">
                        <button id="header-search-button" class="button button-secondary">
                            <span>{{ localize('search') }}</span>
                        </button>
                    </div>
                    {% else %}
                        <button id="header-search-button">
                            <span class="biscuit-icon search"></span>
                        </button>
                    {% endif %}
                </form>
                <div class="header-links">
                    <a class="menulink" href="/browse">Browse</a>
                    <a class="menulink" href="/users">Members</a>
                </div>
            </div>
        {% else %}
            <div class="header-container">
                <div class="header-logo">
                    <a href="/">
                        <img alt="{{ website_branding.name }}" class="logo" src="{{ logo }}">
                        <img alt="{{ website_branding.name }}" class="logo-small"
                             src="{{ website_branding.assets_location }}/logo.png">
                    </a>
                </div>
                <div class="header-main-links">
                    {% for link in header_main_links() %}
                        <a class="menulink" href="{{ link.url }}">{{ link.name }}</a>
                    {% endfor %}
                </div>
                <form class="header-search" action="/search">
                    <input id="header-search-input" type="text" name="query" placeholder="{{ localize('search') }}...">
                    {% if current_theme != 'soretro' %}
                        <div class="form-button-container">
                            <button id="header-search-button" class="button button-secondary">
                                <span class="biscuit-icon search"></span>
                            </button>
                        </div>
                    {% else %}
                        <button id="header-search-button">
                            <span class="biscuit-icon search"></span>
                        </button>
                    {% endif %}
                </form>
                <div class="header-links">
                    {% if is_user_logged_in %}
                        <a class="menulink" href="/notices">{{ user_stat_data.notifications }} notifications</a>
                        <div class="user-menu-container">
                            <div class="menu-button user-menu-button" data-menu-id="user-menu">
                                <img src="{{ profile_picture(user_data.name) }}" class="user-menu-pfp"
                                     alt="{{ user_data.name }}">
                                <div class="menu-caret-container user-menu-caret-container">
                                    <i class="biscuit-icon caret-closed menu-caret"></i>
                                </div>
                            </div>
                            <div class="menu" id="user-menu">
                                {% for link in header_user_links() %}
                                    <a class="menu-item-button" href="{{ link.url }}">{{ link.name }}</a>
                                {% endfor %}
                                <hr>
                                {% for link in header_user_account_links() %}
                                    <a class="menu-item-button" href="/login/{{ link.username }}">
                                        <img src="{{ profile_picture(link.username) }}"
                                             class="menu-item-profile-picture" alt="{{ link.username }}">
                                        {{ link.username }}
                                    </a>
                                {% endfor %}
                                <a class="menu-item-button small" href="/login">Add another account</a>
                            </div>
                        </div>
                    {% else %}
                        {% for link in header_user_links() %}
                            <a class="menulink" href="{{ link.url }}">{{ link.name }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
    {% if options.biscuit_2023_header %}
        <div class="header-user">
            <div class="header-user-container">
                {% if is_user_logged_in %}
                    <div class="header-user-notifications">
                        <a class="menulink" href="/notices">{{ user_stat_data.notifications }} notices</a>
                    </div>
                {% endif %}
                <div class="header-user-links">
                    {% if is_user_logged_in %}
                        <a class="menulink userlink" href="/user/{{ user_data.name }}">{{ user_data.name }}</a>
                        <a class="menulink" href="/settings">Settings</a>
                        {% if user_data.powerlevel > 2 %}
                            <a class="menulink" href="/admin">Admin panel</a>
                        {% endif %}
                        <a class="menulink" href="/write">Write</a>
                        <a class="menulink" href="/upload">Upload</a>
                        <a class="menulink" href="/logout">Log out</a>
                    {% else %}
                        <a class="menulink" href="/login">{{ localize('login') }}</a>
                        <a class="menulink" href="/register">{{ localize('register') }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
</div>